.wrap{
    marginBottom: 100px;
    marginTop: 100px;
    display: flex;
    flex-direction: column;
    alignItems: center;

}
.header {
    marginBottom: 10px
}
.form{
    display: flex;
    flex-direction: column;
}
.list-num{
    display: flex;
    flex-direction: column;
}